.vimrc~
..vimrc.un~
.gitignore~
..gitignore.un~
.DS_Store
files/.config/karabiner/automatic_backups/*
files/.config/karabiner/assets/*
files/.ssh/*
!files/.ssh/config
files/.config/coc/*
files/.config/configstore/*
files/.config/tmux/*.log
go.mod
go.sum
*.zwc
